<div class="container">
  <app-title [title]="'Beer list'" [subTitle]="'Prueba técnica'"></app-title>
  <app-search-input [placeholder]="'Filter by food...'" (onTermChange)="updateList($event)"></app-search-input>
  <div class="block">
    <div *ngIf=" beers$  | async as beers;">
      <ng-container *ngIf="beers.length; else noResults">
        <div class="table-container">
          <table class="table">
            <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Foods</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let beer of beers">
              <td>{{beer.id}}</td>
              <td>{{beer.name}}</td>
              <td>{{beer.food_pairing}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #noResults>
  <ng-container>
    <article class="message is-warning">
      <div class="message-body">
        No results for your search.
      </div>
    </article>
  </ng-container>
</ng-template>
