<section class="py-2">
  <div class="columns">
    <div class="column is-half">
      <input class="input is-rounded" type="text" #termInput (keyup)="keyup(termInput.value)"
             [placeholder]="placeholder" [value]="term">
    </div>
  </div>
</section>
